@mixin displayGrid($width, $column, $row, $gap) {
  width: $width;
  display: grid;
  grid-template-columns: $column;
  grid-template-rows: $row;
  gap: $gap;
}
@mixin displayFlex($width) {
  width: $width;
  display: flex;
  justify-content: space-between;
}
@mixin absolute($left, $right, $top, $bottom, $translate) {
  position: absolute;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
  transform: translate($translate);
}

@mixin boxCenter($width) {
  width: $width;
  margin: 0 auto;
}

@mixin doubleUnderline($bg) {
  &::before {
    @include absolute(50%, null, null, -0.4rem, (-50%, -50%));
    content: "";
    width: 4rem;
    height: 0.12rem;
    background: $bg;
  }
  &::after {
    @include absolute(50%, null, null, -0.9rem, (-50%, -50%));
    content: "";
    width: 2rem;
    height: 0.12rem;
    background: $bg;
  }
}
@mixin line-divider($bg) {
  height: 1px;
  border: none;
  background: $bg;
}
