@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  background: #343a40;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form_container {
  margin: 5rem auto;
  width: 30%;
  padding: 2rem;
  background: #fff;
  border-radius: 0.3rem;
}

header {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.sm-icons {
  text-align: center;
}

.subheader {
  font-size: 15px;
  text-align: center;
  padding: 0.5rem;
}

.sm-btn {
  padding: 1rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-family: "Nunito", sans-serif;
  margin: auto 0.3rem;
  color: #fff;
  padding: 1rem 2rem;
}

.sm-btn:focus {
  outline: none;
}

.sm-btn:hover {
  background: #6c757d;
}

.facebook {
  background: #1877f2;
}

.gmail {
  background: #d93025;
}

.twitter {
  background: #1a91da;
}

h4 {
  margin: 0.5rem auto;
  text-align: center;
  max-width: 600px;
  position: relative;
  color: #6c757d;
}

h4:before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  position: absolute;
  background: #e3e9ed;
  top: 10px;
  left: 55%;
}

h4:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  position: absolute;
  background: #e3e9ed;
  top: 10px;
  right: 55%;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #6c757d;
  outline: 0;
  font-size: 0.9rem;
  color: #6c757d;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__field::-webkit-input-placeholder {
  color: transparent;
}

.form__field:-ms-input-placeholder {
  color: transparent;
}

.form__field::-ms-input-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.9rem;
  color: #343a40;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 2px;
  -o-border-image: linear-gradient(to right, #fff, #e05b3d);
     border-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#e05b3d));
     border-image: linear-gradient(to right, #fff, #e05b3d);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.9rem;
  color: #343a40;
  font-weight: 500;
}

.form__field:required, .form__field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem auto;
  position: relative;
}

.checkbox__text {
  font-size: 0.9rem;
  position: absolute;
  left: 20px;
  top: -5px;
}

.login__btn {
  padding: 1rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  padding: 0.5rem 1.5rem;
  background: #e05b3d;
  color: #fff;
}

.login__btn:focus {
  outline: none;
}

.login__btn:hover {
  background: #dc3545;
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none;
  color: #49535d;
  font-size: 0.9rem;
}

a:hover {
  color: #e05b3d;
}

.forgot__password {
  padding: 0.5rem;
  font-size: 0.9rem;
}

@media (max-width: 858px) {
  .form_container {
    width: 90%;
  }
}
