@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styling */
a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.is-desktop {
  display: none;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  background: #fff;
  text-size-adjust: none;
}

/* Navbar */
.navbar {
  background: #343a40;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.left-navs {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate();
  width: 70%;
  min-height: 100vh;
  z-index: 2;
  color: #343a40;
  padding: 1rem;
  position: fixed;
  display: none;
}

.side-navs {
  margin-top: 1rem;
}

.side-navs ul li {
  padding: 0.6rem 1rem;
  position: relative;
}

.side-navs ul .children {
  padding-top: 0.8rem;
  display: none;
}

.side-navs ul .children li {
  padding: 0.4rem 1.5rem;
}

.side-navs .s-link {
  color: #343a40;
  font-size: 1.3rem;
}

.side-navs .has-children .has-children-icon {
  padding: 0 0.4rem;
  position: absolute;
  right: 0;
  font-size: 1.1rem;
}

.side-navs .has-children .has-children-icon i {
  transition: all 0.5s ease;
}

.close-side-nav {
  text-align: right;
  font-size: 1.5rem;
}

.rotate180 {
  transition: all 0.5s ease;
  transform: rotate(-180deg);
}

.toggle {
  margin-top: 0.2rem;
}

.toggle .toggle-icon {
  font-size: 1.5rem;
}

.navs ul li {
  display: inline-block;
  padding: 0 0rem;
}

.navs ul .link {
  color: #f6f8f9;
}

.links {
  justify-content: flex-end;
}

.seller-link {
  background: #49535d;
  padding: 0.4rem 0.7rem;
  border-radius: 0.3rem;
}

/* Header */
header {
  min-height: 75vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/back_hero.jpg") center/cover no-repeat;
}

header .hero {
  padding-top: 1rem;
}

header .logo-icon {
  font-size: 1.6rem;
}

header .logo-text {
  font-size: 1.2rem;
  color: #fff;
}

header .logo-filter {
  display: grid;
  grid-template-columns: auto 2fr;
  padding: 1rem;
  color: #fff;
}

header .filter {
  justify-self: end;
}

header .filter-icon {
  background: #49535d;
  padding: 0.4rem 0.7rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

header .filter-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate();
  width: 80vw;
  background: #f8f9fa;
  color: #343a40;
  min-height: 100vh;
  z-index: 2;
  font-weight: normal;
  position: fixed;
  display: none;
}

header .show-filter {
  transform: translate(0);
  display: block;
}

header .filter-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #6c757d;
  padding: 1rem;
  color: #fff;
}

header .close-filter-btn {
  justify-self: end;
  font-size: 1.5rem;
}

header .search-ads {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  color: #f6f8f9;
}

header .search-ads h1 {
  font-size: 1.3rem;
  margin-top: 1rem;
  font-weight: 300;
  display: none;
}

header .search-ads h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

header .search-text {
  font-weight: 300;
  margin: 1.5rem 0;
  font-size: 1.2rem;
  display: none;
}

header .search-form input,
header .search-form button {
  width: 90vw;
  font-size: 1rem;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
  border: none;
}

header .search-form button {
  margin-top: 0.8rem;
  background: #e05b3d;
  color: #fff;
  transition: all 1s ease;
  cursor: pointer;
}

header .search-form button:hover {
  background: #f97355;
}

header .search-form button:focus {
  outline: none;
}

.popular-categories {
  background: #343a40;
  margin-bottom: 2rem;
}

.popular-categories .popular {
  padding: 1rem;
}

.popular-categories .popular h3 {
  text-align: center;
  margin-top: 1rem;
  color: #b5b8bb;
  font-size: 1.3rem;
  position: relative;
}

.popular-categories .popular h3::before {
  position: absolute;
  left: 50%;
  bottom: -0.4rem;
  transform: translate(-50%, -50%);
  content: "";
  width: 4rem;
  height: 0.12rem;
  background: #b5b8bb;
}

.popular-categories .popular h3::after {
  position: absolute;
  left: 50%;
  bottom: -0.9rem;
  transform: translate(-50%, -50%);
  content: "";
  width: 2rem;
  height: 0.12rem;
  background: #b5b8bb;
}

.popular-categories .popular ul {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.popular-categories .popular ul .popular-icon {
  display: block;
  padding: 1rem;
  text-align: center;
}

.popular-categories .popular ul .popular-icon .popular-text {
  display: block;
  color: #b5b8bb;
  font-size: 0.9rem;
}

.popular-categories .popular ul .popular-icon .popular-text:hover {
  cursor: pointer;
}

.popular-categories .popular ul .popular-icon i {
  color: #b5b8bb;
  font-size: 2rem;
}

/* ADS SECTION */
.ads-wrapper {
  margin-bottom: 4rem;
}

.ads-wrapper .ads-section .ads-container {
  padding: 1rem;
}

.ads-wrapper .ads-section .ads-container span {
  display: none;
}

.ads-wrapper .ads-section .ads-container h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #e05b3d;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}

.ads-wrapper .ads-section .ads-container h2::before {
  position: absolute;
  left: 50%;
  bottom: -0.4rem;
  transform: translate(-50%, -50%);
  content: "";
  width: 4rem;
  height: 0.12rem;
  background: #e05b3d;
}

.ads-wrapper .ads-section .ads-container h2::after {
  position: absolute;
  left: 50%;
  bottom: -0.9rem;
  transform: translate(-50%, -50%);
  content: "";
  width: 2rem;
  height: 0.12rem;
  background: #e05b3d;
}

.ads-wrapper .ads-section .ads {
  padding: 0.4rem;
}

.ads-wrapper .ads-section .ads .single-ad {
  background: #fff;
  box-shadow: 0 10px 30px rgba(51, 51, 51, 0.1);
  padding: 0.5rem;
  margin: 1rem 0;
  position: relative;
}

.ads-wrapper .ads-section .ads .single-ad .info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 0.5rem;
}

.ads-wrapper .ads-section .ads .single-ad .ad-image {
  position: relative;
}

.ads-wrapper .ads-section .ads .single-ad .ad-image img {
  height: 100%;
  min-width: 10rem;
  object-fit: cover;
  border-radius: 0.3rem;
}

.ads-wrapper .ads-section .ads .single-ad .ad-verified {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate();
  background: #49535d;
  padding: 0.3rem 0.5rem;
  color: #fff;
  font-size: 0.75rem;
  border-radius: 0.3rem;
}

.ads-wrapper .ads-section .ads .single-ad .ad-verified i {
  color: #ffc107;
}

.ads-wrapper .ads-section .ads .single-ad .ad-for-rent-sale {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate();
  background: #e05b3d;
  padding: 0.3rem 0.5rem;
  color: #fff;
  font-size: 0.75rem;
  border-radius: 0.3rem;
}

.ads-wrapper .ads-section .ads .single-ad .ad-tabs li {
  position: absolute;
  bottom: 0;
  transform: translate();
  background: #b5b8bb;
  padding: 0.1rem 0.5rem;
  color: #f8f9fa;
  font-size: 0.7rem;
  border-radius: 0.3rem;
}

.ads-wrapper .ads-section .ads .single-ad .ad-image-count {
  font-size: 0.7rem;
}

.ads-wrapper .ads-section .ads .single-ad .ad-view {
  right: 0;
}

.ads-wrapper .ads-section .ads .single-ad .ad-info {
  color: #6c757d;
}

.ads-wrapper .ads-section .ads .single-ad .ad-category {
  color: #e05b3d;
  font-size: 1rem;
}

.ads-wrapper .ads-section .ads .single-ad .ad-title {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.ads-wrapper .ads-section .ads .single-ad .ad-location {
  font-size: 0.75rem;
}

.ads-wrapper .ads-section .ads .single-ad .ad-price {
  color: #28a745;
  font-size: 0.75rem;
}

.ads-wrapper .ads-section .ads .single-ad .ad-sub-info {
  margin: 0.5rem 0;
}

.ads-wrapper .ads-section .ads .single-ad .ad-sub-info li {
  display: inline-block;
  font-size: 0.75rem;
  color: #e05b3d;
}

.ads-wrapper .ads-section .ads .promoted {
  background: #343a40;
}

.ads-wrapper .ads-section .ads .promoted .ad-promoted {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.8rem;
  color: #46ea6b;
  background: #343a40;
  padding: 0.2rem 0.5rem;
}

.ads-wrapper .ads-section .ads .promoted .ad-info {
  color: #fff;
}

.ads-wrapper .ads-section .ads .promoted .ad-info .ad-price {
  color: #46ea6b;
}

.ads-wrapper .ads-section .ads .promoted .ad-info .ad-sub-info {
  color: #fff;
}

.ads-wrapper .ads-section .show-more-ads {
  text-align: center;
}

.ads-wrapper .ads-section .show-more-ads a {
  background: #e05b3d;
  color: #fff;
  font-size: 0.9rem;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
  border: none;
  padding: 0.5rem 1rem;
}

/* Why Choose Us */
.why-choose-us-wrapper {
  background: url("../images/patterns/1.png");
  padding-top: 0.5rem;
}

.why-choose-us {
  margin: 2rem 0;
}

.why-choose-us .section-title {
  text-align: center;
  color: #e05b3d;
}

.why-choose-us .section-title h2 {
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.why-choose-us .section-title h2::before {
  position: absolute;
  left: 50%;
  bottom: -0.4rem;
  transform: translate(-50%, -50%);
  content: "";
  width: 4rem;
  height: 0.12rem;
  background: #e05b3d;
}

.why-choose-us .section-title h2::after {
  position: absolute;
  left: 50%;
  bottom: -0.9rem;
  transform: translate(-50%, -50%);
  content: "";
  width: 2rem;
  height: 0.12rem;
  background: #e05b3d;
}

.why-choose-us .section-title p {
  font-size: 0.9rem;
  color: #979696;
  width: 80%;
  margin: 0 auto;
  line-height: 1.6;
}

.why-choose-us .single-choose-us {
  background: #fff;
  padding: 1rem;
  margin: 1.5rem 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 30px rgba(51, 51, 51, 0.1);
}

.why-choose-us .why-choose-img {
  display: grid;
  place-items: center;
}

.why-choose-us .why-choose-img img {
  width: 50%;
}

.why-choose-us .why-choose-title {
  text-align: center;
  color: #e05b3d;
  margin: 0.5rem 0;
  font-size: 1.3rem;
}

.why-choose-us .why-choose-description {
  color: #979696;
  font-size: 0.9rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 2rem;
}

.become-a-seller .sell-now {
  text-align: center;
  background: #49535d;
  padding: 1rem;
}

.become-a-seller .sell-now h2 {
  color: #fff;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.become-a-seller .sell-now a {
  background: #e05b3d;
  color: #fff;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
  border: none;
  background: #e05b3d;
  color: #fff;
  margin: 1rem 0;
}

.testimonial-section {
  background: url("../images/patterns/1.png");
}

.testimonial-section .testimonial-wrapper {
  margin-top: 3rem;
}

.testimonial-section .testimonials {
  padding: 1rem;
}

.testimonial-section .testimonials h2 {
  text-align: center;
  margin-top: 1rem;
  position: relative;
  color: #e05b3d;
}

.testimonial-section .testimonials h2::before {
  position: absolute;
  left: 50%;
  bottom: -0.4rem;
  transform: translate(-50%, -50%);
  content: "";
  width: 4rem;
  height: 0.12rem;
  background: #e05b3d;
}

.testimonial-section .testimonials h2::after {
  position: absolute;
  left: 50%;
  bottom: -0.9rem;
  transform: translate(-50%, -50%);
  content: "";
  width: 2rem;
  height: 0.12rem;
  background: #e05b3d;
}

.testimonial-section .testimonials .single-testimonial {
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: #979696;
  position: relative;
  font-size: 0.9rem;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 10px 30px rgba(51, 51, 51, 0.1);
  margin-top: 2.2rem;
}

.testimonial-section .testimonials .single-testimonial h3 {
  text-align: center;
  font-weight: 300;
  color: #e05b3d;
}

.testimonial-section .testimonials .single-testimonial .testimonial-img {
  width: 20%;
  position: absolute;
  background: #6c757d;
  border-radius: 50%;
  left: 50%;
  top: -18%;
  transform: translate(-50%);
}

.testimonial-section .testimonials .single-testimonial .testimonial-img img {
  border-radius: 50%;
}

.testimonial-section .testimonials .single-testimonial .testimonial-by {
  margin-top: 2.5rem;
  font-size: 0.95rem;
}

.testimonial-section .testimonials .single-testimonial .testimonial {
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
}

.footer-section {
  background: #343a40;
  color: #b5b8bb;
}

.footer-section .footer-wrapper {
  padding: 1rem;
}

.footer-section .footer-wrapper article {
  margin: 2rem 0;
}

.footer-section .footer-wrapper article h2 {
  color: #f5f6f7;
  font-size: 1.2rem;
  margin: 0.75rem 0;
}

.footer-section .footer-wrapper .about-us .about {
  line-height: 1.6;
  font-size: 0.9rem;
}

.footer-section .footer-wrapper .quick-links .links ul li {
  padding: 0.2rem 0;
}

.footer-section .footer-wrapper .quick-links .links ul li a {
  color: #b5b8bb;
  font-size: 0.9rem;
}

.footer-section .footer-wrapper .contact-us .email,
.footer-section .footer-wrapper .contact-us .address,
.footer-section .footer-wrapper .contact-us .phone {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.footer-section .footer-wrapper .contact-us .email span,
.footer-section .footer-wrapper .contact-us .address span,
.footer-section .footer-wrapper .contact-us .phone span {
  font-size: 0.75rem;
}

.footer-section .footer-wrapper .contact-us .phone {
  display: flex;
  gap: 0.3rem;
}

.footer-section .footer-wrapper .social-links .links a {
  color: #b5b8bb;
  background: #343a40;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 0.4rem 0.75rem;
  margin: 0 0.1rem;
  font-size: 1rem;
}

.footer-section .footer-wrapper .subscribe .subscription-form input,
.footer-section .footer-wrapper .subscribe .subscription-form button {
  padding: 0.8rem;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  border: none;
  color: #f6f8f9;
  border-radius: 0.3rem;
}

.footer-section .footer-wrapper .subscribe .subscription-form input:focus,
.footer-section .footer-wrapper .subscribe .subscription-form button:focus {
  outline: none;
}

.footer-section .footer-wrapper .subscribe .subscription-form input {
  width: 80%;
  background: #f6f8f9;
  color: #49535d;
}

.footer-section .footer-wrapper .subscribe .subscription-form button {
  width: 15%;
  background: #e05b3d;
}

.footer-section .hr {
  height: 1px;
  border: none;
  background: #60676d;
}

.footer-section .copyright {
  text-align: center;
  padding: 2rem 0;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 1rem;
  }
  .navbar .toggle .left-navs {
    width: 50%;
    z-index: 4;
  }
  header .search-form input,
  header .search-form button {
    width: 80vw;
  }
  .ads-wrapper .ads-section .ads .single-ad {
    font-size: 1rem;
    line-height: 1.9;
  }
  .ads-wrapper .ads-section .ads .single-ad .ad-title,
  .ads-wrapper .ads-section .ads .single-ad .ad-price,
  .ads-wrapper .ads-section .ads .single-ad .ad-promoted,
  .ads-wrapper .ads-section .ads .single-ad .ad-location,
  .ads-wrapper .ads-section .ads .single-ad .ad-for-rent-sale,
  .ads-wrapper .ads-section .ads .single-ad .ad-verified,
  .ads-wrapper .ads-section .ads .single-ad .ad-sub-info li,
  .ads-wrapper .ads-section .ads .single-ad .ad-tabs .ad-img .ad-view {
    font-size: 1rem;
    line-height: 1.9;
  }
  .ads-wrapper .ads-section .show-more-ads a {
    font-size: 1rem;
  }
  .why-choose-us {
    width: 95%;
    margin: 0 auto;
  }
  .why-choose-us .section-title p {
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
  }
  .why-choose-us .why-us-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .why-choose-us .why-us-box .single-choose-us {
    margin: 1rem 1rem;
  }
  .why-choose-us .why-us-box .single-choose-us .why-choose-description {
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .testimonial-section .testimonials .single-testimonial {
    margin-top: 3rem;
    font-size: 1rem;
  }
  .testimonial-section .testimonials .single-testimonial .testimonial-img {
    width: 20%;
    top: -25%;
  }
  .testimonial-section .testimonials .single-testimonial .testimonial-by {
    margin-top: 3em;
    font-size: 1rem;
  }
  .footer-section .footer-wrapper {
    padding: 0 1rem;
    margin-bottom: 0.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-section .footer-wrapper article {
    margin: 1rem;
    flex: 1 1 calc(33.3% - 2rem);
  }
  .footer-section .footer-wrapper .about-us .about {
    font-size: 1rem;
    width: 95%;
  }
  .footer-section .footer-wrapper .quick-links .links ul li a {
    font-size: 1rem;
  }
  .footer-section .footer-wrapper .contact-us .email,
  .footer-section .footer-wrapper .contact-us .address,
  .footer-section .footer-wrapper .contact-us .phone {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1rem;
  }
  header .hero .search-ads {
    left: 40%;
  }
  header .hero .search-ads h2 {
    font-size: 3rem;
  }
  header .hero .search-ads .search-form input,
  header .hero .search-ads .search-form button {
    width: 35rem;
    border-radius: 0.3rem;
  }
  header .hero .search-ads .search-form input:focus,
  header .hero .search-ads .search-form button:focus {
    outline: none;
  }
  header .hero .search-ads .search-form button {
    width: 9rem;
  }
  header .hero .search-ads .search-form .form-container {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 1rem;
    position: relative;
  }
  header .hero .search-ads .search-form .form-container .search-button {
    position: absolute;
    top: -23%;
    right: -26%;
  }
  .navbar .toggle .left-navs {
    width: 40%;
    z-index: 4;
  }
  .ads-wrapper .ads-section .ads-container span {
    display: initial;
  }
  .ads-wrapper .ads-section .ads {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .ads-wrapper .ads-section .ads .single-ad {
    border-radius: 0.3rem;
    padding: 1rem;
  }
  .ads-wrapper .ads-section .ads .single-ad .info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .ads-wrapper .ads-section .ads .single-ad .ad-info .ad-sub-info li {
    padding-right: 1rem;
  }
  .ads-wrapper .ads-section .ads .single-ad .ad-promoted {
    background: #43474a;
    top: 60%;
    right: 2%;
    transform: translate(-2%, -60%);
  }
  .ads-wrapper .ads-section .ads-container h2 {
    font-size: 1.5rem;
  }
  .why-choose-us {
    width: 85%;
    margin: 0 auto;
  }
  .why-choose-us .why-us-box {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .testimonial-section .testimonials .single-testimonial {
    margin-top: 3.5rem;
    font-size: 1rem;
  }
  .testimonial-section .testimonials .single-testimonial .testimonial-img {
    width: 15%;
    top: -30%;
  }
  .testimonial-section .testimonials .single-testimonial .testimonial-by {
    margin-top: 3em;
    font-size: 1rem;
  }
  .footer-section .footer-wrapper {
    padding: 0 1rem;
    margin-bottom: 0.2rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1rem;
  }
  .navbar {
    padding: 2rem;
  }
  .navbar .toggle .toggle-icon {
    display: none;
  }
  .navbar .toggle .left-navs {
    background: none;
    width: 70%;
    z-index: 2;
    color: #fff;
    padding: 1rem 0;
    display: block !important;
    margin: 0 1rem;
    display: none !important;
  }
  .navbar .toggle .left-navs .side-navs ul li {
    display: inline-block;
    position: relative;
  }
  .navbar .toggle .left-navs .side-navs ul li .children {
    background: #fff;
  }
  .navbar .toggle .left-navs .side-navs ul li .has-children-icon {
    padding: 0.15rem 0;
    font-size: 1rem;
  }
  .navbar .toggle .left-navs .side-navs .s-link {
    color: #fff;
    font-size: 1rem;
  }
  .navbar .toggle .left-navs .close-side-nav {
    display: none;
  }
  .hero .logo-filter .logo .logo-icon {
    position: absolute;
    top: 4%;
  }
  .hero .filter-wrapper {
    width: 30%;
  }
  .hero .search-ads {
    left: 40%;
    transform: translate(-50%, -40%);
  }
  .hero .search-ads h2 {
    font-size: 4rem;
    font-weight: 500;
  }
  .hero .search-ads .search-form input,
  .hero .search-ads .search-form button {
    width: 45rem;
    border-radius: 0.3rem;
  }
  .hero .search-ads .search-form input:focus,
  .hero .search-ads .search-form button:focus {
    outline: none;
  }
  .hero .search-ads .search-form button {
    width: 12rem;
  }
  .hero .search-ads .search-form .form-container {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 1rem;
    position: relative;
  }
  .hero .search-ads .search-form .form-container .search-button {
    position: absolute;
    top: -23%;
    right: -26%;
  }
  .is-mobile {
    display: none;
  }
  .is-desktop {
    display: block;
  }
  .grid-view {
    display: grid;
    grid-template-columns: 20rem auto;
    gap: 0.4rem;
  }
  .desktop-popular-categories {
    padding: 1rem;
  }
  .desktop-popular-categories .categories-wrapper {
    background: #fff;
    box-shadow: 0 10px 30px rgba(51, 51, 51, 0.1);
  }
  .desktop-popular-categories .categories-wrapper nav ul li {
    padding: 0.6rem 1.5rem;
    border-bottom: 0.1rem solid #f3f5f7;
  }
  .desktop-popular-categories .categories-wrapper nav ul li:hover {
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  }
  .desktop-popular-categories .categories-wrapper nav ul li a {
    color: #9e9e9e;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    gap: 0.4rem;
  }
  .desktop-popular-categories .categories-wrapper nav ul li a .cartegory-icon {
    font-size: 1.3rem;
    color: #e05b3d;
  }
  .desktop-popular-categories .categories-wrapper nav ul li a .cartegory-icon .cartegory-title {
    align-self: center;
  }
  .desktop-popular-categories .categories-wrapper nav ul li a .has-children {
    justify-self: right;
    align-self: center;
  }
  .ads-wrapper .ads-section {
    background: #fff;
    box-shadow: 0 10px 30px rgba(51, 51, 51, 0.1);
    margin: 1rem 0;
    padding: 0 0.5rem;
    padding-bottom: 1rem;
  }
  .ads-wrapper .ads-section .show-more-ads {
    padding: 1rem;
  }
  .ads-wrapper .ads-section .ads {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ads-wrapper .ads-section .ads .single-ad {
    margin: 0;
  }
  .ads-wrapper .ads-section .ads .single-ad .info {
    gap: 0;
  }
  .ads-wrapper .ads-section .ads .single-ad .info .ad-image .ad-verified,
  .ads-wrapper .ads-section .ads .single-ad .info .ad-image .ad-for-rent-sale {
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
  }
  .ads-wrapper .ads-section .ads .single-ad .info .ad-info .ad-location .ad-price {
    display: none;
  }
  .ads-wrapper .ads-section .ads .single-ad .info .ad-info .ad-category,
  .ads-wrapper .ads-section .ads .single-ad .info .ad-info .ad-sub-info {
    display: none;
  }
  .ads-wrapper .ads-section .ads .single-ad .ad-promoted {
    display: none;
  }
  .ads-wrapper .ads-section .ads-container {
    padding-bottom: 0.1rem;
  }
  .ads-wrapper .ads-section .ads-container h2 {
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 0;
  }
  .ads-wrapper .ads-section .ads-container h2::before {
    display: none;
  }
  .ads-wrapper .ads-section .ads-container h2::after {
    display: none;
  }
  .why-choose-us {
    width: 95%;
    margin: 0 auto;
  }
  .why-choose-us .why-us-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .why-choose-us .why-us-box .single-choose-us {
    margin: 1rem 0.5rem;
  }
  .why-choose-us .why-us-box .single-choose-us .why-choose-title {
    font-size: 1rem;
  }
  .why-choose-us .why-us-box .single-choose-us .why-choose-description {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .testimonial-section .testimonials .single-testimonial {
    margin-top: 3.5rem;
    font-size: 1rem;
  }
  .testimonial-section .testimonials .single-testimonial .testimonial-img {
    width: 12%;
    top: -35%;
  }
  .testimonial-section .testimonials .single-testimonial .testimonial-by {
    margin-top: 3em;
    font-size: 1rem;
  }
  .footer-section .footer-wrapper {
    padding: 0 1rem;
    margin-bottom: 0.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    padding: 1.2rem;
    width: 100%;
    position: fixed;
    z-index: 4;
  }
  header {
    min-height: 60vh !important;
  }
  header .hero .logo-filter .logo .logo-icon {
    position: absolute;
    top: 2.5%;
    position: fixed;
    z-index: 4;
  }
  header .hero .filter-wrapper {
    width: 20%;
  }
  header .hero .search-ads {
    left: 40%;
    top: 30%;
    transform: translate(-50%, -40%);
  }
  header .hero .search-ads h2 {
    font-size: 2rem;
    font-weight: 500;
  }
  header .hero .search-ads .search-form input,
  header .hero .search-ads .search-form button {
    width: 50rem;
    padding: 1rem;
  }
  header .hero .search-ads .search-form button {
    width: 15rem;
  }
  header .hero .search-ads .search-form .form-container .search-button {
    right: -30%;
  }
  .ads-wrapper .ads-section .ads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .ads-wrapper .ads-section .ads-container h2 {
    font-size: 1.3rem;
  }
  .why-choose-us {
    width: 85%;
    margin: 0 auto;
    margin-top: 7rem;
    margin-bottom: 4rem;
  }
  .why-choose-us .section-title p {
    width: 60%;
    margin: 0 auto;
  }
  .why-choose-us .why-us-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .why-choose-us .why-us-box .single-choose-us .why-choose-description {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .testimonial-section .testimonials {
    padding-top: 4rem;
    padding-bottom: 7rem;
  }
  .testimonial-section .testimonials .single-testimonial {
    width: 70%;
    margin: 0 auto;
    margin-top: 6rem;
    font-size: 1rem;
    padding: 2rem;
  }
  .testimonial-section .testimonials .single-testimonial .testimonial-img {
    width: 12%;
    top: -35%;
  }
  .testimonial-section .testimonials .single-testimonial .testimonial-by {
    margin-top: 2.2em;
    margin-bottom: 0.8rem;
  }
  .testimonial-section .testimonials .single-testimonial .testimonial {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .footer-section .footer-wrapper {
    padding: 0 1rem;
    margin-bottom: 0.2rem;
  }
}
